* {
background-color: white;
}
h1 {
color: #005677;
font-family: 'Times New Roman', Times, serif;
text-transform: uppercase;
margin-top: 150px;
background-color: #C4C4C4;
}
.ul{
    margin-top: 100px;
    list-style: disc;
    padding-top: 100px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
li{
    font-size: 17px;
    margin-top: 10px;
    text-transform: lowercase;
}
.li{
    padding-bottom: 30px;
    margin-bottom: 10px;
}
.p{
    margin-top: 130px;
    margin-left: 50px;
    color: #005677;
}
.head{
    background-color: #E6E6E6;
}
h3{
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-style: normal;
    color: #005677;
    width: 3000px;
    
}
.h3{
    background-color: #C4C4C4;
    margin-left: 1px;
}
.footer{
    background-color: #005677;
    color: #E6E6E6;
    font-family: 'Times New Roman';
    position: absolute;
    width: 2000px;
    height: 37px;
    left: 0px;
    text-transform: uppercase;
}
#img{
display: block;
margin: 0px auto;
}
#div{
    margin-left: 250px;
    margin-right: 10px;
}
#ig{
    width: 20px;
    margin-left: 50px;
    margin-right: 30px;
    margin-top: 20px;
    position: absolute;
}
#lkn{
    width: 20px;
    position: absolute;
    background-color: #005677;
    height: 20px;
    margin-top: 20px;
    padding-right: 30px;
}